{% extends 'base.html' %}


{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

    {% include 'includes/alerts.html' %}

    <div class="container">
        <div class="row">

            {% include 'includes/dashboard_sidebar.html' %}

        <main class="col-md-9">
            <article class="card">

            <header class="card-header">
                <strong class="d-inline-block mr-3">Change Your Password</strong>
            </header>
            
            <div class="card-body">
                <div class="row"> 
                    <div class="col-md-12">
                    <form action="{% url 'change_password' %}" method="POST">
                        {% csrf_token %}

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label >Current Password</label>
                                <input type="password" name="current_password" placeholder="Current Password" class="form-control" required>
                            </div>
                            <div class="form-group col-md-12">
                                <label >New Password</label>
                                <input type="password" name="new_password" placeholder="New Password" class="form-control" required>                              
                            </div>
                            <div class="form-group col-md-12">
                                <label >Confirm New Password</label>
                                <input type="password" name="confirm_password" placeholder="Confirm Password" class="form-control" required>                              
                            </div>
                        </div>
                        
                        <input type="submit" value="Submit" class="btn btn-primary col-md-1">
                        
                    </form>
                    </div>
                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
            
            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    

{% endblock %}