{% extends 'base.html' %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">

    <!-- ============================ COMPONENT REGISTER   ================================= -->
        <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
          <article class="card-body">

              {% include 'includes/alerts.html' %}

            <header class="mb-4"><h4 class="card-title">Sign up</h4></header>
            
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}

                    <div class="form-row">
                        <div class="col form-group">
                            <label>{{ form.first_name.label }}</label>
                                {{ form.first_name }}
                        </div> <!-- form-group end.// -->
                        <div class="col form-group">
                            <label>{{ form.last_name.label }}</label>
                                {{ form.last_name }}
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row end.// -->


                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>{{ form.email.label }}</label>
                                {{ form.email }}
                                <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div> <!-- form-group end.// --> 
                        <div class="form-group col-md-6">
                            <label>{{ form.phone_number.label }}</label>
                                {{ form.phone_number }}
                        </div> <!-- form-group end.// --> 
                    </div> <!-- form-row end.// -->
                    

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>{{ form.password.label }}</label>
                                {{ form.password }}
                        </div> <!-- form-group end.// --> 
                        <div class="form-group col-md-6">
                            <label>{{ form.confirm_password.label }}</label>
                                {{ form.confirm_password }}
                        </div> <!-- form-group end.// -->  
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Register  </button>
                    </div> <!-- form-group// -->   

                    {% for field in form %}
                        {{ field.errors }}
                    {% endfor %}

                    {{ form.non_field_errors }}

                </form>
            </article><!-- card-body.// -->
        </div> <!-- card .// -->
        <p class="text-center mt-4">Have an account? <a href="{% url 'login' %}">Log In</a></p>
        <br><br>
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}