/* Hide radio button */

.rate > input {
    display: none
}

.rate {
    display: inline-block;
    border: 0;
}

.rate >label {
    float: right;
}

/* Showing the stars */

.rate > label:before {
    display: inline-block;
    font-size: 1.1rem;
    font-family: FontAwesome;
    content: "\f005";
    padding: 0.3cm .2rem;
    cursor: pointer;
}

/* Half stars */

.rate .half:before {
    content: "\f089";
    position: absolute;
    padding-right: 0;
}

/* Click and hover */

input:checked ~ label, label:hover ~ label {
    color: #ffb503;
}

/* Hover highlight */

input:checked + label:hover, input:checked ~ label:hover, input:checked ~ label:hover ~ label,
label:hover ~ input:checked ~ label {
    color: #cc9000;
}

.rating-star i{
    color: #ffb503;
}



ul.thumb {
    margin: 0 auto;
    padding: 0;
    float: left; 
}

ul.thumb li {
    list-style: none;
    margin: 10px
}

ul.thumb li img {
    width: 80px;
    height: 80px;
    border: 1px solid grey
}