{% load static %}

{% load i18n %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


<style>

.container {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%; }

.col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

.col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }


.col-md-12 {
flex: 0 0 100%;
max-width: 100%;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

table {
  border-collapse: collapse;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #343a40;
  background-color: #f1f1f1;
  font-size: 15px;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.text-muted {
  color: #969696 !important;
}

small {
  font-size: 80%;
}

small,
.small {
  font-size: 80%;
  font-weight: 400;
}

.invoice {
    position: relative;
    background-color: #FFF;
    min-height: 680px;
    padding: 2px
}

.invoice-details {
    text-align: right
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

.panel-default {
    border-color: #ddd;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


</style>


</head>


<body>
  
<div class="container">
    <center><img src="greatkart\static\images\TNT_Logo.png" style="width:70px; height:70px;margin-bottom: 5px;" alt=""></img></center>
    <h2 class="text-center" style="font-size:15px;">Order Report</h2>
</div>

  <div class="container" style="margin: 0 auto;width: 50%;background: #f1f1f1;">
    <div class="row invoice row-printable">            
      <div class="row">
        <!-- Start .row -->    

        <div class="text-right" style="display:inline; white-space:nowrap;">
            <p style="font-size:15px; margin:2px; margin-right:30vw;"><strong>Invoiced To</strong></p>
            <p style="font-size:15px; margin:2px; margin-right:30vw;">{{ order.full_name }}</p>
            <p style="font-size:15px; margin:2px; margin-right:30vw;">{{ order.full_address }}</p>
            <p style="font-size:15px; margin:2px; margin-right:30vw;">{{ order.district }}, {{ order.city }}</p>
            <p style="font-size:15px; margin:2px; margin-right:30vw;">{{ order.country }}</p>
        </div>
  
  
        <div class="text-left">
            <img src="greatkart\static\images\ok_tick.png" alt="Invoice logo" style="width:50px; height:50px; max-height: 40px;">
            
            <p style="font-size:15px; padding:1px; margin:2px; margin-right:30vw;"><strong>Order</strong> {{ order.order_number }}</p>
            <p style="font-size:15px; padding:1px; margin:2px; margin-right:30vw;"><strong>Transaction</strong> {{ payment.payment_id }}</p>
            <p style="font-size:15px; padding:1px; margin:2px; margin-right:30vw;"><strong>Order Date:</strong> {{ order.created_at }}</p>
            <p style="font-size:15px; padding:1px; margin:2px; margin-right:30vw;"><strong>Status:</strong> {{ order.payment.status }}</p>
        </div>
      
    
        <div class="invoice-items" style="padding: 5px;">
          <div class="table-responsive" style="overflow: hidden; outline: none;" tabindex="0">
            
            <table class="table table-bordered" style="margin: 10px;">

              <thead>
                  <tr>
                      <th class="per70 text-center">Description</th>
                      <th class="per5 text-center">Qty</th>
                      <th class="per25 text-center">Total</th>
                  </tr>
              </thead>

              <tbody>
                  {% for item in ordered_products %}
                  <tr>
                      <td>{{ item.product.product_name }}
                          <p class="text-muted small">
                              {% if item.variations.all %}
                                  {% for variation in item.variations.all %}
                                      {{ variation.variation_category | capfirst }}: {{ variation.variation_value | capfirst }} <br>
                                  {% endfor %}
                              {% endif %}
                          </p>
                      </td>
                      <td class="text-center">{{ item.quantity }}</td>
                      <td class="text-center">${{ item.sub_total }} USD</td>
                  </tr>
                  {% endfor %}
              </tbody>

              <tfoot>
                  <tr>
                      <th colspan="2" class="text-right">Sub Total:</th>
                      <th class="text-center">${{ subtotal }} USD</th>
                  </tr>
                  <tr>
                      <th colspan="2" class="text-right">Tax:</th>
                      <th class="text-center">${{ order.tax }} USD</th>
                  </tr>
                  
                  <tr>
                      <th colspan="2" class="text-right">Grand Total:</th>
                      <th class="text-center">${{ order.order_total }} USD</th>
                  </tr>
              </tfoot>

            </table>

          </div>
        </div>
        <div class="invoice-footer mt25" style="font-size:15px;">
            <p class="text-center">Thank you for shopping with us!</p>
        </div>
                  </div>

              <!-- End .row -->
                  
              
              <!-- End .panel -->
      </div>
    </div>
  </div>


</body>
</html>



