
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as cur_lang %}

<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
	<div class="container">
		<section class="footer-bottom border-top row">
			<div class="col-md-2">
				<p class="text-muted"> {% if cur_lang.code == 'vi' %} Tập đoàn TNT {% else %} TNT {% trans 'corporation' %} {% endif %}</p>
			</div>
			<div class="col-md-8 text-md-center">
				<span  class="px-2">nick123clayne456@gmail.com</span>
				<span  class="px-2">+84 938120964</span>
				
				<span  class="px-2">497 Hoa Hao, {% trans 'District' %} 10, {% if cur_lang.code == 'vi' %} Thành phố Hồ Chí Minh {% else %} Ho Chi Minh {% trans 'City' %} {% endif %}, Vietnam</span>
			</div>
			<div class="col-md-2 text-md-right text-muted">
				<i class="fab fa-lg fa-cc-visa"></i>
				<i class="fab fa-lg fa-cc-paypal"></i>
				<i class="fab fa-lg fa-cc-mastercard"></i>
			</div>
		</section>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->

<script src="jquery-3.6.0.min.js"></script>

<script>
	$(document).ready(function(){
		$('.thumb a').click(function(e){
			e.preventDefault();
			$('.mainImage img').attr('src', $(this).attr("href"));
		})
	})
</script>


