{% load static %}

{% load i18n %}

     
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<!-- Bootstrap4 files-->



<script src="{% static 'js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>



<style>
    .logo {
        width: 90px;
        }


    
</style>


<header class="section-header">
    <nav class="navbar p-md-0 navbar-expand-sm navbar-light border-bottom">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTop4">

        <ul class="navbar-nav mr-auto">

            <li class="nav-item dropdown">
                 <a href="#" class="nav-link">{% get_language_info for LANGUAGE_CODE as cur_lang %} {{ cur_lang.name_local | capfirst }} </a>
                
            </li>
            
            <li class="nav-item dropdown">
                <a href="#" class="nav-link"> {% if cur_lang.code == 'fr' %} <i class='fas fa-euro-sign'></i> {% elif cur_lang.code == 'vi' %} VND {% else %} USD {% endif %}</a>
            </li>

            <div class="nav-item dropdown">
                <button class="btn dropdown-toggle nav-link" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% translate 'Language' %}
                </button>

                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    {% for language in languages %}
                    <form action="{% url 'set_language' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="language" value="{{ language.code }}">
                    <button class="dropdown-item" type="submit">{{ language.name_local | capfirst }} ({{ language.code }})</button>
                    </form>
                    {% endfor %}
                </div>

              </div>

        </ul>

        <ul class="navbar-nav">
            <li><a href="#" class="nav-link"> <i class="fa fa-envelope"></i> {% translate "Email" %} </a></li>
            <li><a href="#" class="nav-link"> <i class="fa fa-phone"></i> {% translate "Call us" %} </a></li>
        </ul> <!-- list-inline //  -->
      </div> <!-- navbar-collapse .// -->
    </div> <!-- container //  -->
    </nav>
    
    <section class="header-main border-bottom">
        <div class="container">
    <div class="row align-items-center">
        <div class="col-lg-2 col-md-3 col-6">
            <a href="{% url 'home' %}" class="brand-wrap">
                <img class="logo" src="{% static './images/TNT_Logo.png' %}">
            </a> <!-- brand-wrap.// -->
        </div>
        <div class="col-lg col-sm col-md col-6 flex-grow-0">
            <div class="category-wrap dropdown d-inline-block float-right">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> 
                    <i class="fa fa-bars"></i> {% translate "All categories" %}
                </button>
                <div class="dropdown-menu">
                    {% for category in links %}
                    <a class="dropdown-item" href="{{ category.get_urls }}">{{ category.category_name}}</a>
                    {% endfor %}
                </div>
            </div>  <!-- category-wrap.// -->
        </div> <!-- col.// -->
        <a href="{% url 'store' %}" class="btn btn-outline-primary">{% translate "Store" %}</a>
        <div class="col-lg  col-md-6 col-sm-12 col">
            <form action="{% url 'search' %}" class="search">
                <div class="input-group w-100">
                    
                    <input type="text" class="form-control" style="width:60%; " placeholder="{% translate 'Search' %}" name="keyword">
                    
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                </div>
            </form> <!-- search-wrap .end// -->
        </div> <!-- col.// -->
        <div class="col-lg-3 col-sm-6 col-8 order-2 order-lg-3">
                    <div class="d-flex justify-content-end mb-3 mb-lg-0">

                        {% if user.id is None %}
                        <div class="widget-header">
                            <small class="title text-muted">{% translate "Welcome guest!" %}</small>
                            <div> 
                                <a href="{% url 'login' %}">{% translate "Sign in" %}</a> <span class="dark-transp"> | </span>
                                <a href="{% url 'register' %}"> {% translate "Register" %}</a>
                            </div>
                        </div>
                        {% else %} 
                        <div class="widget-header">
                            <small class="title text-muted">{% translate "Welcome" %} {{ user.first_name }}!</small>
                            <div> 
                                <a href="{% url 'dashboard' %}">{% translate "Dashboard" %}</a> <span class="dark-transp"> | </span>
                                {% if cur_lang.code == 'fr' %} <br> {% endif %}
                                <a href="{% url 'logout' %}">{% translate "Log out" %}</a>
                            </div>
                        </div>
                        {% endif %}

                        <a href="{% url 'cart' %}" class="widget-header pl-3 ml-3">
                            <div class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></div>
                            <span class="badge badge-pill badge-danger notify">{{cart_count}}</span>
                        </a>
                    </div> <!-- widgets-wrap.// -->
                </div> <!-- col.// -->
    </div> <!-- row.// -->
        </div> <!-- container.// -->
    </section> <!-- header-main .// -->
    


    