{% load static %}

{% load i18n %}

<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="max-age=604800" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>TNT Shop | Online Shopping</title>

<link href="{% static 'images/TNT_Logo.png' %}" rel="shortcut icon" type="image/x-icon">

<!-- jQuery -->
<script src="{% static 'js/jquery-2.0.0.min.js' %}" type="text/javascript"></script>

<!-- Bootstrap4 files-->
<script src="{% static 'js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>

<!-- Font awesome 5 -->
<link href="{% static 'fonts/fontawesome/css/all.min.css' %}" type="text/css" rel="stylesheet">

<!-- custom style -->
<link href="{% static 'css/ui.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/responsive.css' %}" rel="stylesheet" media="only screen and (max-width: 1200px)" />

<!-- custom rating and review -->
<link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- custom review loading using ajax -->
<script type="text/javascript" src="{% static 'js\load_review_ajax.js' %}"></script>

<!-- custom javascript -->
<script src="{% static 'js/script.js' %}" type="text/javascript"></script>

<!-- Include the PayPal JavaScript SDK -->
<script src="https://www.paypal.com/sdk/js?client-id=Ad0gAUprQRnQ-fj-yKk-vWuK1K8RlpaNmbLkobvWIQF4ImzpF3RPiKs4lo7akSGOfxg7gr5u2MhWZ3yd&currency=USD"></script>

<script type="text/javascript">
/// some script

// jquery ready start
$(document).ready(function() {
	// jQuery code

}); 
// jquery end
</script>

</head>
<body>

    {% include 'includes/navbar.html' %}


    {% block content %}


    {% endblock %}


    {% include 'includes/footer.html' %}


</body>
</html>