{% extends 'base.html' %}

{% load static %}

{% load i18n %}

{% block content %}


</header> <!-- section-header.// -->


<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
<div class="container">

<div class="intro-banner-wrap">
	<img src="{% static 'images/banners/the_banner.jpg' %}" class="img-fluid rounded">
</div>

</div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
<div class="container">

<header class="section-heading">
	<a href="{% url 'store' %}" class="btn btn-outline-primary float-right">{% trans 'See all' %}</a>
	<h3 class="section-title">{% trans 'Popular products' %}</h3>
</header><!-- sect-heading -->

	
<div class="row">
	{% for product in products %}
	<div class="col-md-3">
		<div class="card card-product-grid">
			<!-- <a href="./store/{{product.category.slug}}/{{product.slug}}/" class="img-wrap"> <img src="{{ product.images.url }}"> </a> --> 
			<!-- We can do that, or we can make a 'get_url' function inside ProductModel and call it here -->
			<a href="{{ product.get_url }}" class="img-wrap"> <img src="{{ product.images.url }}"> </a>
			<figcaption class="info-wrap">
				<a href="{{ product.get_url }}" class="title">{{ product.product_name }} </a>
				<div class="price mt-1">$ {{ product.price }}</div> <!-- price-wrap.// -->
				
				
					<div class="rating-star">
						<span>
							<i class="fa fa-star{% if product.averageRating < 0.5 %}-o{% elif product.averageRating < 1 %}-half-o{% endif %}" aria-hidden="true"></i>
							<i class="fa fa-star{% if product.averageRating < 1.5 %}-o{% elif product.averageRating < 2 %}-half-o{% endif %}" aria-hidden="true"></i>
							<i class="fa fa-star{% if product.averageRating < 2.5 %}-o{% elif product.averageRating < 3 %}-half-o{% endif %}" aria-hidden="true"></i>
							<i class="fa fa-star{% if product.averageRating < 3.5 %}-o{% elif product.averageRating < 4 %}-half-o{% endif %}" aria-hidden="true"></i>
							<i class="fa fa-star{% if product.averageRating < 4.5 %}-o{% elif product.averageRating < 5 %}-half-o{% endif %}" aria-hidden="true"></i>
						</span>
						<span>{{ product.countReview }} {% trans 'reviews' %}</span>
					</div>
				

			</figcaption>
		</div>
	</div> <!-- col.// -->
	{% endfor %}
</div> <!-- row.// -->

</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->


{% endblock %}



