{% extends 'base.html' %}

{% load static %}

{% load i18n %}

{% block content %}

<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 ================================= -->
    {% if not cart_items %}
        <h2 class="text-center">Your shopping cart is empty</h2> <br>
        <div class="text-center">
            <a href="{% url 'store' %}" class="btn btn-primary">Continue Shopping</a>
        </div>
    {% else %}
    <div class="row">
        <aside class="col-lg-9">
    <div class="card">
    <table class="table table-borderless table-shopping-cart">
    <thead class="text-muted">
    <tr class="small text-uppercase">
      <th scope="col">Product</th>
      <th scope="col" width="120">Quantity</th>
      <th scope="col" width="120">Price</th>
      <th scope="col" class="text-right" width="200"> </th>
    </tr>
    </thead>
    <tbody>
    {% for cart_item in cart_items %}
    <tr>
        <td>
            <figure class="itemside align-items-center">
                <div class="aside"><img src="{{ cart_item.product.images.url }}" class="img-sm"></div>
                <figcaption class="info">
                    <a href="{{ cart_item.product.get_url }}" class="title text-dark">{{ cart_item.product.product_name }}</a>
                    <p class="text-muted small">
                        {% if cart_item.variations.all %}
                            {% for item in cart_item.variations.all %}
                                {{ item.variation_category | capfirst }}: {{ item.variation_value | capfirst }} <br>
                            {% endfor %}
                        {% endif %}
                    </p>
                </figcaption>
            </figure>
        </td>
        <td> <!-- col.// -->
                        
            <div class="col"> 
                <div class="input-group input-spinner">

                    <!-- ----- Minus button ----- -->
                    <div class="input-group-prepend">
                        <a href="{% url 'subtract_cart_item' cart_item.product.id cart_item.id %}" class="btn btn-light" type="button" id="button-plus"> <i class="fa fa-minus"></i> </a>
                    </div>
                    <!-- ------------------------- -->


                    <input type="text" class="form-control"  value="{{ cart_item.quantity }}">


                    <!-- ----- Plus button ----- -->
                    <div class="input-group-append">
                        <form action="{% url 'add_cart_item' cart_item.product.id %}" method="POST">
                            {% csrf_token %}

                            {% for variation in cart_item.variations.all %}
                            <input type="hidden" name="{{ variation.variation_category | lower }}" value="{{ variation.variation_value | capfirst }}">
                            {% endfor %}
                            <button class="btn btn-light" type="submit" id="button-minus"> <i class="fa fa-plus"></i> </button>
                        </form>    
                    </div>
                    <!-- ------------------------- -->

                </div> <!-- input-group.// -->
            </div> <!-- col.// -->
        </td>
        <td> 
            <div class="price-wrap"> 
                <var class="price">${{ cart_item.sub_total }}</var> 
                <small class="text-muted"> ${{ cart_item.product.price }} each </small> 
            </div> <!-- price-wrap .// -->
        </td>
        <td class="text-right"> 
        <a href="{% url 'remove_cart_item' cart_item.product.id cart_item.id %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to remove this item from cart?')"> Remove</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div> <!-- card.// -->
    
        </aside> <!-- col.// -->
        <aside class="col-lg-3">
    
            <div class="card">
            <div class="card-body">

                {% if applied %}
                <del>
                <dl class="dlist-align" style="color: red;">
                    <dt >Total price:</dt>
                    <dd class="text-right">${{ total }}</dd>
                </dl>
            </del>
                <dl class="dlist-align">
                    <dt>Discounted price:</dt>
                    <dd class="text-right">${{ discounted_total }}</dd>
                </dl>
                
                {% else %} 

                <dl class="dlist-align">
                    <dt>Total price:</dt>
                    <dd class="text-right">${{ total }}</dd>
                </dl>

                {% endif %}

                <dl class="dlist-align">
                  <dt>Tax:</dt>
                  <dd class="text-right"> ${{ tax }}</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Grand total:</dt>
                  <dd class="text-right text-dark b"><strong>${{ grand_total }}</strong></dd>
                </dl>
                <hr>
                <p class="text-center mb-3">
                    <img src="{% static './images/misc/payments.png' %}" height="26">
                </p>
                <form action="{% url 'checkout' %}" method="POST">
                    {% csrf_token %}

                    <input type="hidden" name="discounted_total" value="{{ discounted_total }}">
                    <button class="btn btn-primary btn-block"> Checkout </button>
                </form>
                <a href="{% url 'store' %}" class="btn btn-light btn-block">Continue Shopping</a>
            </div> <!-- card-body.// -->
            </div> <!-- card.// -->


            <form action="{% url 'cart' %}" method="POST">
                {% csrf_token %}

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter Coupon" name="coupon_code">
                  </div> <!-- form-group// -->

                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Apply  </button>
                </div> <!-- form-group// --> 
            </form>
    </aside> <!-- col.// -->
    
    
    </div> <!-- row.// -->
    {% endif %}
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    
    </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}