{% extends 'base.html' %}

{% load static %}

{% load i18n %}

{% block content %}

<style>
    .recently_viewed {
        width: 100px;
        height: auto;
    }

    .card-width-custom {
        width: 620px;
        text-align: center;
    }


</style>


<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 ================================= -->
    <div class="card">
        <div class="row no-gutters">
            <aside class="col-md-6">
                <article class="gallery-wrap"> 
                    <div class="img-big-wrap mainImage">
                    <center><img src="{{ single_product.images.url }}"></center>
                    </div> <!-- img-big-wrap.// -->
                    
                </article> <!-- gallery-wrap .end// -->

        <ul class="thumb">
            <li>
                <a href="{{ single_product.images.url }}" target="mainImage"><img src="{{ single_product.images.url }}" alt="Product Image"></a>

                {% for i in single_product.productgallery_set.all %}
                <a href="{{ i.image.url }}" target="mainImage"><img src="{{ i.image.url }}" alt="Product Image"></a>
                {% endfor %}
            </li>
        </ul>

    </aside>
    <main class="col-md-6 border-left">

    <form action="{% url 'add_cart_item' single_product.id %}" method="POST">
    {% csrf_token %}
      <article class="content-body">
      
      <h2 class="title">{{ single_product.product_name }}</h2>
      <div class="rating-star">
        <span>
            <i class="fa fa-star{% if single_product.averageRating < 0.5 %}-o{% elif single_product.averageRating < 1 %}-half-o{% endif %}" aria-hidden="true"></i>
            <i class="fa fa-star{% if single_product.averageRating < 1.5 %}-o{% elif single_product.averageRating < 2 %}-half-o{% endif %}" aria-hidden="true"></i>
            <i class="fa fa-star{% if single_product.averageRating < 2.5 %}-o{% elif single_product.averageRating < 3 %}-half-o{% endif %}" aria-hidden="true"></i>
            <i class="fa fa-star{% if single_product.averageRating < 3.5 %}-o{% elif single_product.averageRating < 4 %}-half-o{% endif %}" aria-hidden="true"></i>
            <i class="fa fa-star{% if single_product.averageRating < 4.5 %}-o{% elif single_product.averageRating < 5 %}-half-o{% endif %}" aria-hidden="true"></i>
        </span>
        <span>{{ single_product.countReview }} {% trans 'reviews' %}</span>
    </div>

      <div class="mb-3"> 
          <var class="price h4">${{ single_product.price }}</var> 
      </div> 
      
      <p>{{ single_product.description }}</p>
      
      
      <hr>
          <div class="row">
              <div class="item-option-select">
                  <h6>{% trans 'Choose Color' %}</h6>
                    <select name="color" class="form-control" required>
                      <option value="" disabled selected>{% trans 'Color' %}</option>
                      {% for i in single_product.variation_set.colors %}
                      <option value="{{ i.variation_value | lower }}">{{ i.variation_value | capfirst }}</option>
                      {% endfor %}
                    </select>
              </div>
          </div> <!-- row.// -->
          <div class="row">
              <div class="item-option-select">
                  <h6>{% trans 'Select Size' %}</h6>
                    <select name="size" class="form-control" required>
                      <option value="" disabled selected>{% trans 'Size' %}</option>
                      {% for i in single_product.variation_set.sizes %}
                      <option value="{{ i.variation_value | lower }}">{{ i.variation_value | capfirst }}</option>
                      {% endfor %}
                  </select>
                </div>
          </div> <!-- row.// -->
          <hr>
          {% if single_product.stock <= 0 %}
          <h5 class='text-danger'>Out of stock</h5>
          
          {% else %}
          <button type="submit" class="btn  btn-primary"> <span class="text">{% trans 'Add to cart' %}</span> <i class="fas fa-shopping-cart"></i>  </button>

          {% endif %}

      </article> <!-- product-info-aside .// -->
    </form>



    <form action="{% url 'coupon' %}" method="POST">
        {% if coupons %}
                <div class="dropdown_menu">

                    <div class="nav-item dropdown">
                        <button class="btn dropdown-toggle nav-link" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% translate 'Coupon' %}
                        </button>
        
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            
                                {% for coupon in coupons %} 
                                <form action="{% url 'coupon' %}" method="POST">
                                    {% csrf_token %}
    

                                    <input type="hidden" name="category_slug" value="{{ single_product.category.slug }}">
                                    <input type="hidden" name="product_slug" value="{{ single_product.slug }}">
    

                                    <input type="hidden" name="coupon_code" value="{{ coupon.coupon_code }}">
                                    <button class="dropdown-item" type="submit">{{ coupon.coupon_code | upper }}</button>

                                </form>
                                {% endfor %}
                        </div>
                      </div>

                </div>
        {% endif %}
    </form>



            </main> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- card.// -->

    {% include 'includes/alerts.html' %}

    <!-- ============================ COMPONENT 1 END .// ================================= -->


    <div class="text-center">    
    {% if recently_viewed_products %}
        <br>
        <br>
        
        <div style="padding-bottom: 0;">
            <h5>Recently Viewed Products</h5>
        </div>

        <div class="card card-width-custom mx-auto" style="padding-bottom: 0; padding-top: 5px;">
            <div class="container">
                <div class="row justify-content-center">
                {% for prod in recently_viewed_products %}
                    <div class="col col-md-1.5 card-product-grid">
                        <a href="{{ prod.get_url }}"><img class="recently_viewed" src="{{ prod.images.url }}" alt="{{ prod.product_name }} Image"></a>
                    </div>
                {% endfor %}
                </div>
            </div>

        </div>

    {% endif %}
    </div> 
    

    <br>
    
    <div class="row">
                <div class="col-md-9">
    
        
        <form action="{% url 'submit_review' single_product.id %}" method="POST">
            {% csrf_token %}
            <h5>{% trans 'Write your Review' %}</h5>
            <div>
            <!-- Rating stars -->
            <label for="">{% trans 'How do you rate this product?' %}</label>
            <br>
            <div class="rate">
            <input type="radio" name="rating" id="rating10" value="5" required><label for="rating10" title="5"></label>
            <input type="radio" name="rating" id="rating9" value="4.5" required><label for="rating9" title="4.5" class="half"></label>
            <input type="radio" name="rating" id="rating8" value="4" required><label for="rating8" title="4"></label>
            <input type="radio" name="rating" id="rating7" value="3.5" required><label for="rating7" title="3.5" class="half"></label>
            <input type="radio" name="rating" id="rating6" value="3" required><label for="rating6" title="3"></label>
            <input type="radio" name="rating" id="rating5" value="2.5" required><label for="rating5" title="2.5" class="half"></label>
            <input type="radio" name="rating" id="rating4" value="2" required><label for="rating4" title="2"></label>
            <input type="radio" name="rating" id="rating3" value="1.5" required><label for="rating3" title="1.5" class="half"></label>
            <input type="radio" name="rating" id="rating2" value="1" required><label for="rating2" title="1"></label>
            <input type="radio" name="rating" id="rating1" value="0.5" required><label for="rating1" title="0.5" class="half"></label>
            </div>
            <br>

            {% trans 'Review Title' %}:
            <input type="text" class="form-control" name="subject">
            <br>
            {% trans 'Review' %}:
            <textarea name="review" rows="4" class="form-control"></textarea>
            <br>
            {% if user.is_authenticated %}
                {% if product_ordered %}
                    <input type="submit" value="{% trans 'Submit Review' %}" class="btn btn-primary">
                {% else %}
                    <P>{% trans 'You must purchase this product to post a review.' %}</P>
                {% endif %}
            {% else %} 
                <p>{% trans 'You must be logged in to post a review.' %} <span><a href="{% url 'login' %}">{% trans 'Login now' %}</a></span></p>
            {% endif %}
            </div>


        </form>

        <br>
<header class="section-heading">
    <h3>{% trans 'Customer Reviews' %} </h3>  
    <span>
        <div class="rating-star">
            <span>
                <i class="fa fa-star{% if single_product.averageRating < 0.5 %}-o{% elif single_product.averageRating < 1 %}-half-o{% endif %}" aria-hidden="true"></i>
                <i class="fa fa-star{% if single_product.averageRating < 1.5 %}-o{% elif single_product.averageRating < 2 %}-half-o{% endif %}" aria-hidden="true"></i>
                <i class="fa fa-star{% if single_product.averageRating < 2.5 %}-o{% elif single_product.averageRating < 3 %}-half-o{% endif %}" aria-hidden="true"></i>
                <i class="fa fa-star{% if single_product.averageRating < 3.5 %}-o{% elif single_product.averageRating < 4 %}-half-o{% endif %}" aria-hidden="true"></i>
                <i class="fa fa-star{% if single_product.averageRating < 4.5 %}-o{% elif single_product.averageRating < 5 %}-half-o{% endif %}" aria-hidden="true"></i>
            </span>
            <span>{{ single_product.countReview }} {% blocktrans count num=single_product.countReview %}review{% plural %}reviews{% endblocktrans %}</span>
        </div>
    </span>
    
</header>

    <div id="loadReviewHere">
<!-- /////////////////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////////////////////////////// -->
<!-- Review display -->


    {% for review in reviews %}
    <article class="box mb-3 review-box">
        <div class="icontext w-100">
            <!-- <img src="{%static './images/avatars/avatar1.jpg'%}" class="img-xs icon rounded-circle"> -->
            <div class="text">
                <span class="date text-muted float-md-right">{{ review.updated_at }} </span>  
                <h6 class="mb-1">{{ review.user.full_name }}</h6>
                <div class="rating-star">
                    <span>
                        <i class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o{% endif %}" aria-hidden="true"></i>
                        <i class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o{% endif %}" aria-hidden="true"></i>
                        <i class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o{% endif %}" aria-hidden="true"></i>
                        <i class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o{% endif %}" aria-hidden="true"></i>
                        <i class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o{% endif %}" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </div> <!-- icontext.// -->
        <div class="mt-3">
            <h6>{{ review.subject }}</h6>
            <p>
                {{ review.review }}
            </p>	
        </div>
    </article>
    {% endfor %}


<!-- /////////////////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////////////////////////////// -->
    </div>
    
        </div> <!-- col.// -->
    </div> <!-- row.// -->
    
    
    </div> <!-- container .//  -->


        <div>
            <p class="my-4 text-center">
                <button id="loadMore" this_prod_id="{{ single_product.id }}" data-total="{{ single_product.countReview }}" data-limit="2" class="btn btn-dark btn-sm">Load More<i class="fa fa-sync load-more-icon"></i></button>
            </p>
        </div>


    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}

