{% load static %}

{% for review in reviews %}
        <article class="box mb-3 review-box">
            <div class="icontext w-100">
                <!-- <img src="{%static './images/avatars/avatar1.jpg'%}" class="img-xs icon rounded-circle"> -->
                <div class="text">
                    <span class="date text-muted float-md-right">{{ review.updated_at }} </span>  
                    <h6 class="mb-1">{{ review.user.full_name }}</h6>
                    <div class="rating-star">
                        <span>
                            <i class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o{% endif %}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o{% endif %}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o{% endif %}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o{% endif %}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o{% endif %}" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
            </div> <!-- icontext.// -->
            <div class="mt-3">
                <h6>{{ review.subject }}</h6>
                <p>
                    {{ review.review }}
                </p>	
            </div>
        </article>
{% endfor %}