{% extends 'base.html' %} 

{% load static %}  

{% load i18n %}

{% block content %} 


<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        {% if 'search' in request.path %}
            <h2 class="title-page">Search results</h2>
        {% else %} 
            <h2 class="title-page">Our Store</h2>
        {% endif %}
         
    </div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">
    
    <div class="row">
        <aside class="col-md-3">
            
    <div class="card">
        <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">{% trans Categories %}</h6>
                </a>
            </header>
            <div class="filter-content collapse show" id="collapse_1" style="">
                <div class="card-body">
                    <a href="{% url 'store' %}">{% translate "All categories" %}</a>
                    {% for category in links %}
                    <ul class="list-menu">
                    <li><a href="{{ category.get_url }}">{{ category.category_name }}</a></li>
                    {% endfor %}
                    </ul>
    
                </div> <!-- card-body.// -->
            </div>
        </article> <!-- filter-group  .// -->

        <form action="{% url 'searchs' %}" class="search" method='GET'>
        <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true" class="">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Sizes </h6>
                </a>
            </header>
            <div class="filter-content collapse show" id="collapse_4" style="">
                <div class="card-body">
                  <label class="checkbox-btn">
                    <input type="checkbox" name="keyword" value="Small">
                    <span class="btn btn-light"> Small </span>
                  </label>
    
                  <label class="checkbox-btn">
                    <input type="checkbox" name="keyword" value="Medium">
                    <span class="btn btn-light"> Medium </span>
                  </label>
    
                  <label class="checkbox-btn">
                    <input type="checkbox" name="keyword" value="Large">
                    <span class="btn btn-light"> Large </span>
                  </label>
    
            </div><!-- card-body.// -->
            </div>
        </article> <!-- filter-group .// -->
        
        <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">{% translate 'Price range' %}  </h6>
                </a>
            </header>
            <div class="filter-content collapse show" id="collapse_3" style="">
                <div class="card-body">
                    
                    <div class="form-row">
                        <div class="form-group col-md-6">
                          <label>Min</label>
                          <!-- <input class="form-control" placeholder="$0" type="number"> -->
                              <select class="mr-2 form-control" name="keyword1">
                                <option value="0">$0</option>
                                <option value="50">$50</option>
                                <option value="100">$100</option>
                                <option value="150">$150</option>
                                <option value="200">$200</option>
                                <option value="500">$500</option>
                                <option value="1000">$1000</option>
                            </select>
                        </div>
                        <div class="form-group text-right col-md-6">
                          <label>Max</label>
                              <select class="mr-2 form-control" name="keyword2">
                                <option value="50">$50</option>
                                <option value="100">$100</option>
                                <option value="150">$150</option>
                                <option value="200">$200</option>
                                <option value="500">$500</option>
                                <option value="1000">$1000</option>
                                <option value="2000">$2000+</option>
                            </select>
                        </div>
                        </div> <!-- form-row.// -->
                    <button type="submit" class="btn btn-block btn-primary">{% translate 'Apply' %}</button>
                </div><!-- card-body.// -->
            </div>
        </article> <!-- filter-group .// -->
        </form> <!-- filter-form .end// -->

        
    </div> <!-- card.// -->
    
        </aside> <!-- col.// -->
        <main class="col-md-9">
    
    <header class="border-bottom mb-4 pb-3">
            <div class="form-inline">
                <span class="mr-md-auto"><b>{{ product_count }}</b> {% blocktranslate count num=product_count %} item found {% plural %} items found {% endblocktranslate %} </span>
                
            </div>
    </header><!-- sect-heading -->
    
    <div class="row">
        {% if products %}
        {% for product in products %}
        <div class="col-md-4">
            <figure class="card card-product-grid">
                <div class="img-wrap"> 
                    
                    <a href="{{ product.get_url }}"><img src="{{ product.images.url }}"></a>
                    
                </div> <!-- img-wrap.// -->
                <figcaption class="info-wrap">
                    <div class="fix-height">
                        <a href="{{ product.get_url }}" class="title">{{ product.product_name }}</a>
                        <div class="price-wrap mt-2">
                            <span class="price">$ {{ product.price }}</span>
                            <!-- <del class="price-old">$1980</del> -->
                        </div> <!-- price-wrap.// -->
                    </div>
                    <a href="{{ product.get_url }}" class="btn btn-block btn-primary">{% trans 'View details' %}</a>
                </figcaption>
            </figure>
        </div> <!-- col.// -->
        {% endfor %}

        {% else %}
        <h2>{% trans 'No product found' %}</h2>
        {% endif %}
    </div> <!-- row end.// -->
    
    {% trans 'First' as first %}
    {% trans 'Previous' as previous %}
    {% trans 'Next' as next %}
    {% trans 'Last' as last %}
    <nav class="mt-4" aria-label="Page navigation sample">
    {% if products.has_other_pages %}
      <ul class="pagination">
        {% if products.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">{{ first }}</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_numer }}">{{ previous }}</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="?page=1">{{ first }}</a></li>
            <li class="page-item disabled"><a class="page-link" href="#">{{ previous }}</a></li>
        {% endif %}
        {% for i in products.paginator.page_range %}
            {% if products.number == i %}
                <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% else %} 
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %} 
        {% if products.has_next %} 
            <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">{{ next }}</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ products.paginator.num_pages }}">{{ last }}</a></li>
        {% else %} 
            <li class="page-item disabled"><a class="page-link" href="#">{{ next }}</a></li>
            <li class="page-item disabled"><a class="page-link" href="?page={{ products.paginator.num_pages }}">{{ last }}</a></li>
        {% endif %}
      </ul>
    {% endif %}
    </nav>
    
        </main> <!-- col.// -->
    
    </div>
    
    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}  
