{% autoescape off %}

Hi {{ user.first_name }},<br>

Your order has been received.<br>

Order Number: <a href="http://127.0.0.1:8000/accounts/order_detail/{{ order.order_number }}/">{{ order.order_number }}</a>


{% endautoescape %}


