{% extends 'base.html' %}

{% load static %}

{% load i18n %}

{% block content %}


<section class="section-content padding-y bg">
    <div class="container">
    <h4 class="text-center mb-10">Review and make payment</h4>
    <!-- ============================ COMPONENT 1 ================================= -->
    <div class="row">
        
        <aside class="col-lg-8">

            <div class="card">
                <h5 class="card-header">Billing Address</h5>
                <div class="card-body">
                  <p class="card-text mb-0">{{ order.full_name }}.</p>
                  <p class="card-text mb-0">{{ order.email }}.</p>
                  <p class="card-text mb-0">{{ order.phone }}.</p>
                  <p class="card-text mb-0">{{ order.full_address }}, district {{ order.district }}.</p>
                  <p class="card-text mb-0">{{ order.city }} city, {{ order.country }}.</p>
                  {% if order.order_note %}
                  <p class="card-text mb-0"><b>Note: </b>{{ order.order_note }}.</p>
                  {% endif %}
                </div>
              </div>

              <div class="card">
                <h5 class="card-header">Payment Method</h5>
                <div class="card-body">
                  <p class="card-text">Paypal.</p>
                </div>
              </div>

              <div class="card">
                <h5 class="card-header">Review Products</h5>
                <div class="card-body">
                    
                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                        <tr class="small text-uppercase">
                          <th scope="col">Product</th>
                          <th scope="col" width="120">Quantity</th>
                          <th scope="col" width="120">Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cart_item in cart_items %}
                        <tr>
                            <td>
                                <figure class="itemside align-items-center">
                                    <div class="aside"><img src="{{ cart_item.product.images.url }}" class="img-sm"></div>
                                    <figcaption class="info">
                                        <a href="{{ cart_item.product.get_url }}" class="title text-dark">{{ cart_item.product.product_name }}</a>
                                        <p class="text-muted small">
                                            {% if cart_item.variations.all %}
                                                {% for item in cart_item.variations.all %}
                                                    {{ item.variation_category | capfirst }}: {{ item.variation_value | capfirst }} <br>
                                                {% endfor %}
                                            {% endif %}
                                        </p>
                                    </figcaption>
                                </figure>
                            </td>
    
                            <td> 
                            <!-- col.// -->
                                <label for="">{{ cart_item.quantity }}</label>
                            </td>
    
                            <td> 
                                <div class="price-wrap"> 
                                    <var class="price">${{ cart_item.sub_total }}</var> 
                                    <small class="text-muted"> ${{ cart_item.product.price }} each </small> 
                                </div> <!-- price-wrap .// -->
                            </td>
                            
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
              </div>
        </aside> <!-- col.// -->

        <aside class="col-lg-4">
            <div class="card">
            <div class="card-body">
                <dl class="dlist-align">
                  <dt>Total price:</dt>
                  <dd class="text-right">${{ discounted_total }}</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Tax:</dt>
                  <dd class="text-right"> ${{ tax }}</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Grand total:</dt>
                  <dd class="text-right text-dark b"><strong>${{ grand_total }}</strong></dd>
                </dl>
                <hr>
                <p class="text-center mb-3">
                    <img src="{% static './images/misc/payments.png' %}" height="26">
                </p>

                <!-- Set up a container element for the button -->
                <div id="paypal-button-container"></div>   
                <!-- paypal button will load -->
                
                
                </div> <!-- card-body.// -->
            </div> <!-- card.// -->
    
    </aside> <!-- col.// -->
    
    
    </div> <!-- row.// -->

    <!-- ============================ COMPONENT 1 END .// ================================= -->
    
    </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->



<script>

    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
//         // \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
    
    
    var amount = "{{ grand_total }}"
    var url = "{% url 'payments' %}"
    var csrftoken = getCookie('csrftoken');
    var orderID = "{{ order.order_number }}"
    var payment_method = 'PayPal'
    var redirect_url = "{% url 'order_complete' %}"

    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({
        
        style: {
                color:  'blue',
                shape:  'rect',
                label:  'pay',
                height: 40
        },

        // Set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: amount,
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function(data, actions) {
			return actions.order.capture().then(function(orderData) {
				// Show a success message to the buyer
                console.log(orderData);
				sendData();
				function sendData(){
					fetch(url, {
						method: "POST",
						headers: {
							"Content-type": "application/json",
							"X-CSRFToken": csrftoken,
						},
						body: JSON.stringify({
							orderID: orderID,
							transID: orderData.id,
							payment_method: payment_method,
							status: orderData.status,
						}),
					})
                    .then((response) => response.json())
                    .then((data) => {
                        window.location.href = redirect_url + '?order_number=' + data.order_number + '&payment_id=' + data.transID; 
					});
				}
			});
		}


    }).render('#paypal-button-container');
</script>

{% endblock %}